.blog {
  margin: 0 auto;
  text-align: justify;
}
.center {
  width: 80vw;
  margin: 3rem auto;
}
.text{
  font-size: 1.5rem;
  opacity: 0.7;
}
.date{
  font-weight: bold;
  display: inline-block;
  width: 8rem;
}
.title{
  padding-left: 2rem;
  color: var(--mainBlack);

}
.title:hover{
  color: var(--primaryColor);
}