.blog {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  height: 800px;
  display: flex;
  flex-direction: column;
}
.blog:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
  background: var(--primaryColor);
  transition: var(--mainTransition);
  height: 300px;
}
.img {
  transition: var(--mainTransition);
  height: 300px;
}
.img-container:hover .img {
  opacity: 0.3;
}

.link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}
.link:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.img-container:hover .link {
  opacity: 1;
}

.footer {
  padding: 1rem;
  text-align: left;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.date {
  position: absolute;
  left: 0;
  top: 75%;
  background: var(--primaryColor);
  padding: 0.3rem 0.5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-weight: bold;
  opacity: 0.8;
}

.footer h3 {
  text-transform: capitalize;
  font-weight: bold;
  opacity: 1 !important;
  text-align: center;
  margin-bottom: 0;
}
.info {
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  /* text-transform: uppercase; */
  /* align-items: center; */
  margin-top: 1rem;
  height: 100%;
  position: relative;
}
.info h6,
.info h4 {
  margin-bottom: 0;
}
.details {
  /* text-transform: capitalize; */
  /* letter-spacing: 0.2rem; */
  /* color: var(--mainBlack); */
  /* display: flex; */
  /* font-weight: 300; */
  /* opacity: 0.7; */
  /* align-items: center; */
  /* text-align: justify; */
  letter-spacing: 1.3px;
  font-size: 1.05rem;
}
.icon {
  margin-right: 0.4rem;
}
.meta {
  align-items: flex-end;
  color: var(--primaryColor);
  text-transform: uppercase;
  text-align: right;
  margin-top: 1rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.meta div {
  display: inline-block;
}
.readingTime {
  float: left;
}
.readingTime svg {
  margin-bottom: -2px;
  margin-right: 5px;
}
.categories {
  float: right;
  letter-spacing: 0.2rem;
}
.categories a {
  display: block;
}
